<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Visit Britain</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/commonStyles")


</head>
<body onload="fadeBody()">
    <div class="general-Block">
        @Html.Partial("_Header")
        @RenderBody()
        @*@Html.Partial("_NavBar")*@
        @*@Html.Partial("_Footer")*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/animation")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
