<!DOCTYPE html>
<html>
@model Lab3.Models.Slide
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Visit Britain</title>
    @Styles.Render("~/Content/commonStyles")
    @*@Styles.Render("~/Content/fontawesome")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body onload="fadeBody()">
    <div class="general-Block">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_NavBar")
        @Html.Partial("_Footer",Model)
    </div>

    @Scripts.Render("~/bundles/animation")
    @RenderSection("scripts", required: false)
</body>
</html>
