<div class="links-To-Nearest-Pages">
    <div>
        @Html.Partial("_LoginPartial")
    </div>
    <div>
        @Html.ActionLink("Cities", "Index", "Cities")
        @Html.ActionLink("Countries", "Index", "Countries")
        @Html.ActionLink("Tours", "Index", "Tours")
        @Html.ActionLink("Customers", "Index", "Users")
        @Html.ActionLink("Order", "New", "Orders")
    </div>
</div>
@*<div>
    @Html.Partial("_LoginPartial")
</div>
<div>
    @Html.ActionLink("Cities", "Index", "Cities")
    @Html.ActionLink("Countries", "Index", "Countries")
    @Html.ActionLink("Tours", "Index", "Tours")
    @Html.ActionLink("Customers", "Index", "Users")
    @Html.ActionLink("Order", "New", "Orders")    
</div>*@
