@model Lab3.Models.Slide

@{
    ViewBag.Title = Model.Name;
    Layout = null;
}

@Styles.Render("~/Content/startPage")
@Styles.Render("~/Content/commonStyles")

<body>
    <div class="introduction">
        <div class="introduction-Title">
            <span class="intro-Text-First">
                Developing England’s tourism product.
            </span>
            <h2 class="intro-Text-Second">
                Inspiring the world to explore Britain
            </h2>
            <img src="@Url.Content("~/Content/Images/BritishFlagBig.png")" alt="">
        </div>
        <form action="">
            <div class="inputs-Group">
                <input type="text" placeholder="Your Name" class="general-Input">
                <input type="email" placeholder="Email" class="general-Input">
                <button type="submit" class="general-Button">Subscribe</button>
                <button type="button" class="general-Button"><a href="/Form/Index">Meet Us</a></button>
            </div>
        </form>
        <button class="button-Go-To-Main" onclick="scrollToMain()">
            Let's start exploring Poland market
        </button>
    </div>
    <div class="general-Block">
        <div class="logo-Holder">
            <div class="flag-And-Text">
                <img src="@Url.Content("~/Content/Images/BritishFlagBigger.png")">
                <span class="logo-Font">VisitBritain<span class="registered-Symbol-Font">&reg;</span></span>
            </div>
        </div>
        <div class="main-Slide-Wrapper">
            <div class="theme-And-Traiangle-Wrapper">
                <div class="theme-Of-Presentation">
                    <p class="presentation-Theme-Font">
                        Market and
                        <br>
                        Trade Profile: Poland
                    </p>
                </div>
                <div class="under-Title-Triangle-Wrapper">
                    <div class="under-Title-Triangle">
                    </div>
                </div>
            </div>
            <div class=" slide-Block country-And-Circles ">
                <div class="country-Name">
                    <span class="slide-Title">Poland</span>
                </div>
                @Html.Partial("_Circles")
            </div>
        </div>
        @Html.Partial("_NavBar")
    </div>
</body>

@Scripts.Render("~/bundles/animation")